[requires]
python_version = '3.8'

[packages]
pandas = "1.1.0"
pyserial = "3.4"
strictyaml = "1.0.6"
typed-argument-parser = "1.5.4"
wasabi = "0.7.1"

[dev-packages]
flake8 = "3.8.3"
green = "3.2.0"
pipenv-setup = "3.1.1"
pre-commit = "2.6.0"
pyre-check = "0.0.52"
python-language-server = "0.34.1"
